/* PlayPage.css */
.playPageHeader {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 25%;
  margin: 1rem auto;
}

.alignLoginButton {
  transform: translateY(7px);
}

.line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.disabled {
  background-color: black;
}

.display-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  margin: 5px;
  font-size: 1.2em;
  background-color: #fff;
}

#keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem
}

.keys-row {
  display: flex;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  width: 2.5rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.del-button,
.enter-button {
  background-color: #e74c3c;
  width: 5rem;
}

button.del-button:hover,
button.enter-button:hover {
  background-color: #c0392b;
}

.default {
  background-color: rgb(145, 145, 145);
}

button.default:hover {
  background-color: rgb(145, 145, 145);
}

.green {
  background-color: rgb(57, 204, 46);
}

button.green {
  color: black;
}

button.green:hover {
  background-color: rgb(57, 204, 46);
}

.yellow {
  background-color: rgb(243, 252, 75);
}

button.yellow {
  color: black;
}

button.yellow:hover {
  background-color: rgb(243, 252, 75);
}

.grey {
  background-color: rgb(73, 73, 73);
}

button.grey:hover {
  background-color: rgb(73, 73, 73);
}

/* Styles for tablet devices */
@media only screen and (max-width: 768px) {
  .display-box {
    font-size: 0.8em;
  }

  #keyboard-container {
    margin-top: 10px;
  }

  button {
    font-size: 0.9em;
  }
}

/* Styles for mobile devices */
@media only screen and (max-width: 480px) and (max-height: 700px) {
  .playPageHeader {
    width: 75%
  }  
  .alignLoginButton {
    transform: translateY(12px);
  }
  .display-box {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black;
    margin: 5px;
    font-size: 1rem;
  }
  button {
    padding: 2px;
    margin: 3px;
    font-size: 0.8rem;
    width: 1.7rem;
    height: 1.5rem;
    color: #fff;
  }
  .del-button,
  .enter-button {
    width: 3rem;
  }
}

@media only screen and (max-width: 480px) and (min-height: 701px) {
  .playPageHeader {
    width: 75%
  }  
  .alignLoginButton {
    transform: translateY(12px);
  }
  .display-box {
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    margin: 5px;
    font-size: 1.2rem;
  }
  button {
    padding: 2px;
    margin: 3px;
    font-size: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    color: #fff;
  }
  .del-button,
  .enter-button {
    width: 3.5rem;
  }
  #keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem
  }
}
